*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Oswald';
    line-height: 1.6em;
}

$red: #BF0E19;
$blue: #2B3E5E;
$white: #fff;
$black: #000;



.bg-custom-blue{
    color: $white;
    background-color: $blue;
    padding: 25px 0px;

    a, a:link, a:visited{
        color: $white;
    }
}

.btn{
    padding: 1px 30px ;
    font-size: 1.1em;
}

.btn-jumbo {
    padding: 10px 50px;
}

.btn-white{

}
.btn-white-outline{
    color: $white;
    border-radius: 15px;
    border: 2px solid $white;
    &:hover{
        transition: ease-in, 0.3s;
        color: $white;
        background-color: $red;
    }
}
.btn-blue{
    color: $white;
    border-radius: 2px solid $blue;
    background-color: $blue;
    border-radius: 15px;
    &:hover{
        transition: ease-in, 0.3s;
        color: $blue;
        border: 2px solid $blue;
        background-color: $white;

    }
}
.btn-blue-autline{
    color: $blue;
    border-radius: 15px;
    border: 2px solid $blue;
    &:hover{
        transition: ease-in, 0.3s;
        color: $white;
        background-color: $blue;
    }
}
.btn-red{
    color: $white;
    background-color: $red;
    border-radius: 15px;
    border: 2px solid $red;

    &:hover{
        color: $white;
    }
}
.btn-red-autline{

}

.header-container{
    font-weight: 300;
}

.bold{
    font-weight: bold;
    font-size: inherit;
}

a.nav-link{
    color: $blue;
}



.content-container{
    // margin-bottom: 15px;


    label{
        font-size: 1.4rem;
        text-align: left;
    }
    .form-control{
        border: 2px solid $blue;
        border-radius: 10px;
        padding: 20px 10px;
        font-size: 1.5rem;
    }

    .accent-color-blue{
        h2, h3, h4, h5{
            color: $blue;
            text-transform: uppercase;
            padding: 15px 0px;
        }
    }

    .accent-color-blue-reverse{
        color: $white;

        h2, h3, h4, h5{
            color: $white;
            text-transform: uppercase;
            padding: 15px 0px;
        }
    }

    .accent-color-white{
        color: $white;
        h2, h3, h4, h5{
            color: $white;
            text-transform: uppercase;
            padding: 15px 0px;
        }
    }


    .como-funciona{
        background-image: linear-gradient(rgba(54, 45, 182, 0.05), rgba(54, 45, 182, 0.3)),
        url('../images/frontend/medic-section.jpg');
        background-position: center;
        background-size: cover;
        text-align: center;

        .como-funciona-icons{

            img{
                width: 170px;
                margin-bottom: 15px;
            }
            h6.steps{
            }

        }
        .como-funciona-text{
            font-size: 1rem;
            line-height: 0.1rem;
        }
    }
    .adquirir{
        background-image: linear-gradient(rgba(212, 27, 27, 0.836), rgba(212, 27, 27, 0.836)),
        url('../images/frontend/adquirir-section.jpg');
        background-position: center;
        background-size: cover;
        text-align: center;
    }


    .default-section{
        padding-top: 50px;
        padding-bottom: 50px;

        .section-inner{

            .red-accent{
                color: $red;
                font-size: inherit;
            }



            p{
                font-weight: 300;
                font-size: 1.2rem;
            }

            img.img-cartao{
                margin: 30px 0;
            }
            .section-link-red{
                color: $red;
                text-decoration: none;
            }
            ul.list-simple{
                list-style: none;

                li{
                    font-weight: 300;
                }
            }
        }
    }



    .accordion-duvidas-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .accordion-duvidas-inner{
            width: 70%;
            margin: 10px 15px;
            border: 1px solid $blue;
            text-align: justify;
            padding: 5px 15px;
            border-radius: 10px;

            .accordion-duvidas-btn{
                border: none;
                color: $blue;
                width: 100%;
                background: none;
                text-align: left;
                font-size: 1.3rem;
                padding: 5px 0px;
                display: block;
            }
            .collapse{
                font-weight: 300;
            }

            .accordion-duvidas-content{
                display: none;
                overflow: hidden;
            }
        }


    }

    //HOME - HERO SECTION
    .hero-section-container{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/frontend/hero-section.jpg');
        background-position: center;
        background-size: cover;

        .hero-section{
            .hero-section-inner{
                color: $white;
                text-align: center;
                display: flex;;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding: 50px ;

                .hero-section-h2{
                    text-transform: uppercase;
                    font-size: 1.5em;
                    line-height: 1em;
                }
                .hero-section-h3{
                    font-size: 1.3em;
                    padding: 20px 0px;
                }


            }
        }
    }

//FORMULÁRIOS




}






.center-content{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


//LOGIN PAGE
.login-page-content{
    flex-direction: column;
    height: 100vw;
    color: $blue;
}
.spacer{
    padding: 15px 0px;
}

//Adquira PAGE
.page-adquira-content {
    flex-direction: column;
    height: 120vw;
    padding-bottom: 50px;
    color: $blue;
}

.formas-pagamento-wrapper{
    display: flex;

    .forma-pagamento-container{
        border: 2px solid $blue;
        padding: 30px 20px;
        width: 50%;
        margin: 0px 20px;
        border-radius: 15px;

        .forma-pagamento-inner{
            display: flex;

            .forma-pagamento-texto{
                font-size: 1.5rem;
            }
            .forma-pagamento-icone{
                padding-left: 20px;
                .jumbo-fa{
                    width: 50px;
                }
            }
        }
    }

}

.stepper-content{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    h1, h2, h3, h4, h5{
        text-transform: uppercase;
        text-align: center;
    }
}

.list-align-left{
    text-align: left;
}

.content-center{
    text-align: center;
}
.center{
    text-align: center;
}

.profile-picture{
    border-radius: 50%;
    width: 50%;
}

.paddin-fix{
    padding: 0px;
    overflow: hidden;
}

//SISTEMA USUÁRIO

.sidebar-container{
    background-color: $blue;
    min-height: 100vw;
    color: $white;
    padding-top: 20px;

    ul.sistema-navbar{
        list-style: none;
        margin-top: 50px;

        li.sistema-navbar-item{
            border-bottom: 1px solid $white;

            &:last-child{
                border-bottom: 0px;
            }

            a.sistema-navbar-item-link{
                color: $white;
                display: block;
                padding: 15px 10px;
                text-align: center;



                &:hover{
                    background-color: rgb(60, 88, 136);
                    text-decoration: none;
                }
            }
        }
    }
}

.sistema-content{
    background-color: $white;
    padding-top: 20px;
    color: $blue;

    .btn{
        padding: 5px ;
        font-size: 0.8rem;
        min-width: 60px;
    }

    .red-accent{
        color: $red;
        font-size: inherit;
    }

    .thead-blue{
        background-color: $blue;
        color: $white;
    }

    .table-custom{
        font-weight: 100;
        font-size: 12px;
    }
    .acoes-container {
        border: 2px solid $blue;
        border-radius: 10px;
        padding: 10px 20px;
    }

    .page-title{
        padding: 10px 0px;
        text-transform: uppercase;
    }
    .menubar{
        border: 1px solid $blue;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }





    //FORMULÁRIOS
    // label{
    //     text-align: left;
    // }
    // .form-control{
    //     border: 1px solid $blue;
    //     border-radius: 10px;
    //     display: inline;
    // }

    .btn-busca{
        margin-left: 5px;
        background-color: $blue;
        color: $white;
        padding: 8px 0px;

        &:hover{
            background-color: rgb(61, 89, 136);

        }
    }
}



.bg-dark-blue{
    background-color: $blue;

}
.bg-blue{
    background-color: $blue;
    color: $white;

    a, a:link, a:visited{
        color: $white;
    }
}
