* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Oswald";
  line-height: 1.6em;
}

.bg-custom-blue {
  color: #fff;
  background-color: #2B3E5E;
  padding: 25px 0px;
}

.bg-custom-blue a,
.bg-custom-blue a:link,
.bg-custom-blue a:visited {
  color: #fff;
}

.btn {
  padding: 1px 30px;
  font-size: 1.1em;
}

.btn-jumbo {
  padding: 10px 50px;
}

.btn-white-outline {
  color: #fff;
  border-radius: 15px;
  border: 2px solid #fff;
}

.btn-white-outline:hover {
  transition: ease-in, 0.3s;
  color: #fff;
  background-color: #BF0E19;
}

.btn-blue {
  color: #fff;
  border-radius: 2px solid #2B3E5E;
  background-color: #2B3E5E;
  border-radius: 15px;
}

.btn-blue:hover {
  transition: ease-in, 0.3s;
  color: #2B3E5E;
  border: 2px solid #2B3E5E;
  background-color: #fff;
}

.btn-blue-autline {
  color: #2B3E5E;
  border-radius: 15px;
  border: 2px solid #2B3E5E;
}

.btn-blue-autline:hover {
  transition: ease-in, 0.3s;
  color: #fff;
  background-color: #2B3E5E;
}

.btn-red {
  color: #fff;
  background-color: #BF0E19;
  border-radius: 15px;
  border: 2px solid #BF0E19;
}

.btn-red:hover {
  color: #fff;
}

.header-container {
  font-weight: 300;
}

.bold {
  font-weight: bold;
  font-size: inherit;
}

a.nav-link {
  color: #2B3E5E;
}

.content-container label {
  font-size: 1.4rem;
  text-align: left;
}

.content-container .form-control {
  border: 2px solid #2B3E5E;
  border-radius: 10px;
  padding: 20px 10px;
  font-size: 1.5rem;
}

.content-container .accent-color-blue h2,
.content-container .accent-color-blue h3,
.content-container .accent-color-blue h4,
.content-container .accent-color-blue h5 {
  color: #2B3E5E;
  text-transform: uppercase;
  padding: 15px 0px;
}

.content-container .accent-color-blue-reverse {
  color: #fff;
}

.content-container .accent-color-blue-reverse h2,
.content-container .accent-color-blue-reverse h3,
.content-container .accent-color-blue-reverse h4,
.content-container .accent-color-blue-reverse h5 {
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0px;
}

.content-container .accent-color-white {
  color: #fff;
}

.content-container .accent-color-white h2,
.content-container .accent-color-white h3,
.content-container .accent-color-white h4,
.content-container .accent-color-white h5 {
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0px;
}

.content-container .como-funciona {
  background-image: linear-gradient(rgba(54, 45, 182, 0.05), rgba(54, 45, 182, 0.3)), url(/images/medic-section.jpg?18e3b899418cc6472e024c2b6fca88bc);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.content-container .como-funciona .como-funciona-icons img {
  width: 170px;
  margin-bottom: 15px;
}

.content-container .como-funciona .como-funciona-text {
  font-size: 1rem;
  line-height: 0.1rem;
}

.content-container .adquirir {
  background-image: linear-gradient(rgba(212, 27, 27, 0.836), rgba(212, 27, 27, 0.836)), url(/images/adquirir-section.jpg?75276db8d2adb6c4ade0bcac0b0caefd);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.content-container .default-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-container .default-section .section-inner .red-accent {
  color: #BF0E19;
  font-size: inherit;
}

.content-container .default-section .section-inner p {
  font-weight: 300;
  font-size: 1.2rem;
}

.content-container .default-section .section-inner img.img-cartao {
  margin: 30px 0;
}

.content-container .default-section .section-inner .section-link-red {
  color: #BF0E19;
  text-decoration: none;
}

.content-container .default-section .section-inner ul.list-simple {
  list-style: none;
}

.content-container .default-section .section-inner ul.list-simple li {
  font-weight: 300;
}

.content-container .accordion-duvidas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-container .accordion-duvidas-container .accordion-duvidas-inner {
  width: 70%;
  margin: 10px 15px;
  border: 1px solid #2B3E5E;
  text-align: justify;
  padding: 5px 15px;
  border-radius: 10px;
}

.content-container .accordion-duvidas-container .accordion-duvidas-inner .accordion-duvidas-btn {
  border: none;
  color: #2B3E5E;
  width: 100%;
  background: none;
  text-align: left;
  font-size: 1.3rem;
  padding: 5px 0px;
  display: block;
}

.content-container .accordion-duvidas-container .accordion-duvidas-inner .collapse {
  font-weight: 300;
}

.content-container .accordion-duvidas-container .accordion-duvidas-inner .accordion-duvidas-content {
  display: none;
  overflow: hidden;
}

.content-container .hero-section-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/hero-section.jpg?0c47b4a8d70851ce455e2ffd03b03cb4);
  background-position: center;
  background-size: cover;
}

.content-container .hero-section-container .hero-section .hero-section-inner {
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.content-container .hero-section-container .hero-section .hero-section-inner .hero-section-h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1em;
}

.content-container .hero-section-container .hero-section .hero-section-inner .hero-section-h3 {
  font-size: 1.3em;
  padding: 20px 0px;
}

.center-content {
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-page-content {
  flex-direction: column;
  height: 100vw;
  color: #2B3E5E;
}

.spacer {
  padding: 15px 0px;
}

.page-adquira-content {
  flex-direction: column;
  height: 120vw;
  padding-bottom: 50px;
  color: #2B3E5E;
}

.formas-pagamento-wrapper {
  display: flex;
}

.formas-pagamento-wrapper .forma-pagamento-container {
  border: 2px solid #2B3E5E;
  padding: 30px 20px;
  width: 50%;
  margin: 0px 20px;
  border-radius: 15px;
}

.formas-pagamento-wrapper .forma-pagamento-container .forma-pagamento-inner {
  display: flex;
}

.formas-pagamento-wrapper .forma-pagamento-container .forma-pagamento-inner .forma-pagamento-texto {
  font-size: 1.5rem;
}

.formas-pagamento-wrapper .forma-pagamento-container .forma-pagamento-inner .forma-pagamento-icone {
  padding-left: 20px;
}

.formas-pagamento-wrapper .forma-pagamento-container .forma-pagamento-inner .forma-pagamento-icone .jumbo-fa {
  width: 50px;
}

.stepper-content {
  display: flex;
  flex-direction: column;
  flex-direction: column;
}

.stepper-content h1,
.stepper-content h2,
.stepper-content h3,
.stepper-content h4,
.stepper-content h5 {
  text-transform: uppercase;
  text-align: center;
}

.list-align-left {
  text-align: left;
}

.content-center {
  text-align: center;
}

.center {
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
  width: 50%;
}

.paddin-fix {
  padding: 0px;
  overflow: hidden;
}

.sidebar-container {
  background-color: #2B3E5E;
  min-height: 100vw;
  color: #fff;
  padding-top: 20px;
}

.sidebar-container ul.sistema-navbar {
  list-style: none;
  margin-top: 50px;
}

.sidebar-container ul.sistema-navbar li.sistema-navbar-item {
  border-bottom: 1px solid #fff;
}

.sidebar-container ul.sistema-navbar li.sistema-navbar-item:last-child {
  border-bottom: 0px;
}

.sidebar-container ul.sistema-navbar li.sistema-navbar-item a.sistema-navbar-item-link {
  color: #fff;
  display: block;
  padding: 15px 10px;
  text-align: center;
}

.sidebar-container ul.sistema-navbar li.sistema-navbar-item a.sistema-navbar-item-link:hover {
  background-color: #3c5888;
  text-decoration: none;
}

.sistema-content {
  background-color: #fff;
  padding-top: 20px;
  color: #2B3E5E;
}

.sistema-content .btn {
  padding: 5px;
  font-size: 0.8rem;
  min-width: 60px;
}

.sistema-content .red-accent {
  color: #BF0E19;
  font-size: inherit;
}

.sistema-content .thead-blue {
  background-color: #2B3E5E;
  color: #fff;
}

.sistema-content .table-custom {
  font-weight: 100;
  font-size: 12px;
}

.sistema-content .acoes-container {
  border: 2px solid #2B3E5E;
  border-radius: 10px;
  padding: 10px 20px;
}

.sistema-content .page-title {
  padding: 10px 0px;
  text-transform: uppercase;
}

.sistema-content .menubar {
  border: 1px solid #2B3E5E;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sistema-content .btn-busca {
  margin-left: 5px;
  background-color: #2B3E5E;
  color: #fff;
  padding: 8px 0px;
}

.sistema-content .btn-busca:hover {
  background-color: #3d5988;
}

.bg-dark-blue {
  background-color: #2B3E5E;
}

.bg-blue {
  background-color: #2B3E5E;
  color: #fff;
}

.bg-blue a,
.bg-blue a:link,
.bg-blue a:visited {
  color: #fff;
}

